/* color Palette */
:root {
  --color-orange: #ff5900;
  --color-typography: #212121;
  --color-gray: #333333;
  --color-gray-light: #f4f4f4;
  --color-white: #ffffff;
  --font-size-caption: 1.4rem;
  --font-size-button-title1: 1.8rem;
  --font-size-button-title2: 1.6rem;
}
* ,*::after,*::before {
    box-sizing: border-box;
}

/* Typography */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--color-typography);
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 2.8rem;
}
h2 {
  font-size: 3.8rem;
  margin-bottom: 6rem;
}
h3 {
  font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 6.8rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 1.8rem;
  }
}
/* containder */
.container{
    margin: ;
}

/*icons */
.icon {
  width: 40px;
  height: 63px;
}
.chevron{
    width: 20px;
}
.phone--icon{
    padding-right: 10px;
}

/* Buttons */
.btn {
  font-weight: 500;
  font-size:2rem;
  color: var(--color-white);
  border-radius: 100px;
  padding: 2rem 4rem;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  display: flex;
  
  
  
}
.btn-primary {
  background-color: var(--color-orange);
}
.btn-primary:hover {
  background: #ca4600;
}
.btn-secondary {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--color-white);
  color: var(--color-white);
}
.btn-secondary:hover {
  background: none;
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}

.btn-accent {
  color: var(--color-orange);
  font-size: 1.8rem;
  background: none;
  border: 1px solid var(--color-orange);
  font-size: var(--font-size-button-title2);
  padding: 1.6rem 3.2rem;
  margin: ;
}
.btn-accent:hover {
  background: #ca4600;
  color: var(--color-white);
}
.btn-block{
    width: 100%;
    display: inline-block;
}

@media screen and (min-width:1024px){
  .btn{
    font-size:var(--font-size-button-title1)
  }
  .btn-accent{
    font-size: var(--font-size-button-title2);
  }
}
/* List */
.list{
 padding: 0;
}
.list li{
    list-style: none;
    
}
.list li a{
    color: black;
    text-decoration: none;


}

/*  collapsible*/

.collapsible__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.collapsible__heading{
    margin: 0;
}
.collapsible__chevron{
    transform: rotate(-90deg);
    transition:transform 0.3s;
}
.collapsible__content{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
    
}
.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);
}
.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
}
/* NavBar */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
   
}
.nav__list{
    width:100%
}
.nav__item{
    padding:0 2rem;
        border-top: 1px solid #f1f1f1;
        padding: 2rem;


}

.nav__item a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6px;
    line-height: 1.5;
    cursor: pointer;
    transition: color 0.3s;
    
}
.nav__item a:hover{
    color: var(--color-orange);
}
.nav__list-secondary{
 background-color: #e5e5e5;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
line-height: 1.5;
  margin: 0;
  
  
    
}
.nav__list-secondary li{
    padding: 20px;
    transition: color 0.3s;
    
    
}
.nav__list-secondary li:hover{
    color: var(--color-orange);
}

.nav__toggler{
    opacity: 0.5;
}
.nav.collapsible--expanded .nav__toggler{
    opacity: 1;
}
.phone--number{
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: none;
}

.sell{
    display: none;
}
.phone--btn{
    display: none;
}

@media screen and (min-width:1150px){
    .sell,.phone--number{
        display: block;
    }
    .phone--btn{
        display: flex;
    }
    
    .nav__toggler{
        display: none;
    }
    .containder{
        margin: 0 20rem;
    }
    .nav__list {
        width: auto;
        display: flex;
        border-top: none;
        max-height: 100%;
        opacity: 1;
        white-space:nowrap
    }
    .nav__list-secondary{
         max-height: 100%;
        opacity: 1
    }
    .nav__item{
        border-top: none;
    }
    
    .search--icon{
        display: none;
    }
    .nav__list-secondary{
        display: none;
    }
}