/* color Palette */
:root {
  --color-orange: #ff5900;
  --color-typography: #212121;
  --color-gray: #333333;
  --color-gray-light: #f4f4f4;
  --color-white: #ffffff;
  --font-size-caption: 1.4rem;
  --font-size-button-title1: 1.8rem;
  --font-size-button-title2: 1.6rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/* Typography */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}
body {
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--color-typography);
}
h1 {
  font-size: 4.5rem;
  margin-bottom: 2.8rem;
}
h2 {
  font-size: 3.8rem;
  margin-bottom: 6rem;
}
h3 {
  font-size: 1.8rem;
}
strong {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 6.8rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 1.8rem;
  }
}
/* Caption  */
.caption {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
/* or 20px */
/*icons */
.icon {
  width: 40px;
  height: 63px;
}
.chevron {
  width: 20px;
}
.phone--icon {
  padding-right: 10px;
}

/* Buttons */
.btn {
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-white);
  border-radius: 100px;
  padding: 2rem 4rem;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  text-align: center;
  justify-content: center;
}
.btn-primary {
  background-color: var(--color-orange);
}
.btn-primary:hover {
  background: #ca4600;
}
.btn-secondary {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--color-white);
  color: var(--color-white);
}
.btn-secondary:hover {
  background: none;
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}

.btn-accent {
  color: var(--color-orange);
  font-size: 1.8rem;
  background: none;
  border: 1px solid var(--color-orange);
  font-size: var(--font-size-button-title2);
  padding: 1.6rem 3.2rem;
}
.btn-accent:hover {
  background: #ca4600;
  color: var(--color-white);
}
.btn-block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  /* containder */
  .container {
    margin: 0 20rem;
  }
  .btn {
    font-size: var(--font-size-button-title1);
    font-size: 2rem;
  }
  .btn-accent {
    font-size: var(--font-size-button-title2);
  }
}
/* List */
.list {
  padding: 0;
}
.list li {
  list-style: none;
}
.list li a {
  color: black;
  text-decoration: none;
}

/*  collapsible*/

.collapsible__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collapsible__heading {
  margin: 0;
}
.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/* NavBar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}
.nav__list {
  width: 100%;
}
.nav__item {
  padding: 2rem;
  border-top: 1px solid #f1f1f1;
}

.nav__item a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  cursor: pointer;
  transition: color 0.3s;
}
.nav__item a:hover {
  color: var(--color-orange);
}
.nav__list-secondary {
  background-color: #e5e5e5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  margin: 0;
}
.nav__list-secondary li {
  padding: 20px;
  transition: color 0.3s;
}
.nav__list-secondary li:hover {
  color: var(--color-orange);
}

.nav__toggler {
  opacity: 0.5;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
}
.phone--number {
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: none;
}
.second--search__icon {
  display: none;
}

.sell {
  display: none;
}
.phone--btn {
  display: none;
}

@media screen and (min-width: 1150px) {
  .sell,
  .phone--number {
    display: block;
  }
  .phone--btn {
    display: flex;
  }

  .nav__toggler {
    display: none;
  }
  .containder {
    margin: 0 20rem;
  }
  .nav__list {
    width: auto;
    display: flex;
    border-top: none;
    max-height: 100%;
    opacity: 1;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 120%;
    white-space: nowrap;
    text-align: center;
    align-items: center;
  }
  .nav__list-secondary {
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border-top: none;
    padding: 0 1.5rem;
  }
  .nav__item a {
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .second--search__icon {
    width: 16px;
    height: 16px;
    display: block;
  }
  #nav__item--chevron {
    width: 14px;
    height: 7px;
    padding-left: 4px;
  }

  .search--icon {
    display: none;
  }
  .nav__list-secondary {
    display: none;
  }
}

/* Main */
.main--container {
  padding-top: 4rem;
  margin: 0 5rem 0 5rem;
}
.main {
  background-color: gray;
  background-image: url("../images/fill-small.png");
  position: absolute;
  background-repeat: no-repeat;
}
.main h1,
.main p {
  color: var(--color-white);
}
.main-btn__container button {
  margin-bottom: 2rem;
}

.internet-mark {
  font-size: 6.8rem;
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  .main {
    background-image: url("../images/fill.png");
    position: absolute;
    width: 100%;
    height: 716px;
    left: 0px;
    color: var(--color-white);
    background-repeat: no-repeat;
  }
  .main h1 {
    color: var(--color-white);
    margin-top: 17rem;
    margin-bottom: 2.8rem;
  }
  .main p {
    margin-bottom: 52px;
  }
  .main--container {
    margin: 0 20rem 0;
    width: 780px;
  }
  .main-btn__container {
    display: flex;
    gap: 3.2rem;
  }
  .main-btn__container button {
    width: fit-content;
    flex-wrap: nowrap;
  }

  .internet-mark {
    font-size: 6.8rem;
    color: var(--color-white);
  }
}

/* cards */

/* primary card */
.card {
  width: 36rem;
  padding: 4rem 3.2rem;
}
.card--primary {
  height: 49rem;
}
.card--primary__image1 {
  background-image: url("../images/Rectangle\ 6.png");
}
.card--primary__image2 {
  background-image: url("../images/card__image2.png");
}
.card--primary__image3 {
  background-image: url("../images/card__image3.png");
}
.card--primary--primary h3 {
  color: var(--color-white);
  padding-bottom: 2.8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.card--primary p:first-of-type {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 2rem;
}
.card--primary > .caption {
  color: #ffffff;
  opacity: 0.5;
}

.card--primary__footer {
  width: 257px;
  height: 47px;
  left: 32px;
  top: 312px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding-block: 2.8rem 6.6rem;
}
.card--primary .btn {
  width: 100%;
}
/* secondary card */
.card--secondary {
  width: 36rem;
  height: 50.4rem;

  border: 1px solid rgba(51, 51, 51, 0.3);
}
.card--secondary__body {
  text-align: center;
  margin: 21px 24px;
}
.card--secondary__img {
  width: 36rem;
}
.card--secondary__title {
  text-align: center;
  text-transform: uppercase;
  width: 27.7rem;
}
.card--secondary__text {
  font-size: 1.4rem;
  font-weight: 500;
  color: #212121;
  opacity: 0.5;
  text-align: center;
  width: 31.2;
  padding: 0 12px 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  margin-bottom: 3rem;
}
.card__info {
  width: 30.6rem;
  display: flex;
  align-items: center;
  gap: 15px;
}
.info__price {
  color: var(--color-orange);
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
}
.seal--price {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  text-align: left;
}
.seal--price span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: line-through;
  color: #212121;
  opacity: 0.5;
}
#Price__descriptin-stron {
  text-decoration-line: none;
  opacity: 1;
  font-size: 14px;
  word-break: keep-all;
  font-weight: 500;
}
.seal {
  width: 30.6rem;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 1.5rem;
}

/* Links */
.link-arrow {
  color: var(--color-orange);
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 17px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding-top: 32px;
  position: absolute;
  right: 10;
  top: 20;
}
.link-arrow::after {
  content: url("../images/arrow.svg");
  margin-left: 8px;
  transition: margin 0.16s;
}
.link-arrow:hover::after {
  margin-left: 16px;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Work with us  */

.padge__header {
  margin-inline: 20rem;
}
.work-with-us__padge {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 44px;
  gap: 16px;
  width: 36rem;
  height: 16rem;
  border: 1px red solid;
}
/* our--portfolio */
.our--portfolio {
  padding: 4rem 7.2rem 5rem 4rem;
  background-color: #f4f4f4;
}
.our--portfolio h3 {
  margin-bottom: 20px;
}
.our--portfolio__logo {
  grid-column-end: end;
}
.our--portfolio__Objectives {
  color: #333333;
  font-weight: 700;
  font-size: 14px;
  opacity: 0.5;
  padding-top: 30px;
  padding-bottom: 12px;
}

.Objective__description {
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.gap {
  gap: 60px;
}
.portfolio__objectives {
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}
#result__percent {
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 4.2rem;
  color: var(--color-orange);
}
.result__flex {
  display: flex;
  align-items: center;
  gap: 15px;
}
#orang {
  color: var(--color-orange);
}
/* increase-sales */

.increase-sales {
  background-image: url("../images/increase-sales__fill.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-white);
  height: 50rem;
}
.increase-sales h1 {
  color: var(--color-white);
}
/* about-comapny__title */
.about-company {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 15rem;
}

.about-comapny__title {
  padding-top: 4.8rem;
  padding-bottom: 6rem;
}
.about-company__description {
  padding-bottom: 5.4rem;
}
.about-company__badges {
  max-width: 450px;
  max-height: 350px;
}

@media screen and (min-width: 768px) {
  .about-company {
    flex-direction: row;
  }
}
/* our company */
.team__image {
  max-width: 360px;
  max-height: 360px;
}
.our-team__flex {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-direction: column;
}
.team__position {
  font-weight: 500;
  font-size: 14px;
  color: #212121;
  opacity: 0.5;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  color: #333333;
}
@media screen and (min-width: 768px) {
  .our-team__flex {
    flex-direction: row;
  }
}

/* nav-tabs */
.tab-header {
  align-items: center;
}

ul.tab-header li {
  padding: 10px 15px;
  cursor: pointer;
  list-style: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}
ul.tab-header__primary li {
  flex-direction: row;
  width: 13rem;
  border-bottom: 1px solid rgb(51, 51, 51, 0.2);
}
ul.tab-header__secondary li {
  width: 20rem;
  border-bottom: 1px solid rgb(51, 51, 51, 0.2);
}
ul.tab-header__secondary :first-child {
  border-left: 1px solid rgb(51, 51, 51, 0.2);
}
ul.tab-header__secondary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

ul.tab-header__primary li.active {
  background: #333333;
  color: #fff;
  font-weight: 700;
}

ul.tab-header__secondary li.active {
  background: var(--color-orange);
  color: #fff;
  font-weight: 700;
}

ul.tab-header__primary li:hover {
  background: #333333;
  color: #fff;
}

ul.tab-header__secondary li:hover {
  background: var(--color-orange);
  color: #fff;
}

.tab-content .active {
  display: flex !important;
  opacity: 1 !important;
  transition: opacity 0.15s linear;
}
.tap-content__primary .active {
  background: #333333;
  color: var(--color-white);
}
.tap-content__secondary .active {
  background: var(--color-white);
  color: var(--color-typography);
}
.tab-content .tab-inner {
  display: none;
  opacity: 0;
  transition: opacity 0.15s linear;
}
ul.tab-header {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.wrapper {
  max-width: 500px;
  margin: 0px;
}
.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab-content {
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0px;
  width: 1200px;
}
.tab-content .tab-inner p {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.tab-content__primary p {
  margin: 0;

  color: var(--color-white);
  background: #333333;
  width: 13rem;
  height: 35rem;
}
.tab-content__secondary div {
  margin: 0;
  padding: 0;
  color: var(--color-typography);
  background: var(--color-white);
  min-width: 30rem;
}
.tab-inner-secondary__container {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.tab-inner-secondary__container div {
  margin-left: 0px;
}
.tab-inner-secondary__container p {
  padding-top: 0px;
  text-align: center;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  ul.tab-header {
    flex-direction: row;
  }
  .wrapper {
    max-width: 1200px;
    margin: 0px auto;
  }
  ul.tab-header li {
    cursor: pointer;
    list-style: none;
    height: 90px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    padding: 15px 35px;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
  }
  ul.tab-header__primary li {
    color: #212121;
    background: #f4f4f4;
  }
  ul.tab-header__secondary li {
    min-width: 24rem;
  }

  .tabs {
    flex-direction: column;
  }
  .tab-content__primary .tab-inner p {
    padding: 40px 275px 50px 275px;
    min-width: 1200px;
    height: 150px;
  }
  .tab-content .tab-inner p {
    text-align: left;
    line-height: 0;
  }
  .tab-content__secondary .tab-inner div {
    padding: 0;
    margin-bottom: 0;
  }
  .tab-content__secondary .tab-inner ul p {
    text-align: left;
    line-height: 0;
  }
  .tab-inner-secondary__container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  .tab-inner-secondary__container div {
    margin-left: 40px;
  }
  .tab-inner-secondary__container p {
    padding-top: 40px;
    text-align: left;
    line-height: 0;
  }
  .phone-image {
    width: 267px;
    height: 258px;
    padding: 0;
  }
}
.phone-image {
  width: 267px;
  height: 258px;
  padding: 22px 70px 0 0;
}
/* form */
.main-form {
  /* !don forget to romove this lines */

  border: 1px red solid;
  /*  */
  background: var(--color-gray-light);

  display: flex;
  padding: 25px 60px 60px 60px;
  flex-direction: column;
  align-items: center;
width: 630px;
height: 357px;  
}
.main-form :first-child {
  margin-bottom: 16px;
}
.main-form :last-child {
  margin-top: 24px;
}
.main-form > input {
  width: 51rem;
  background: var(--color-gray-light);
  height: 5.5rem;
  border: 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  color: #333333;
  opacity: 0.4;
}
.main-form  button{
  align-self: flex-start;
  
}
.checkbox:first-child {
  margin-right: 7px;
}

/* form section */
.form-section{
  background-image: url('../images/form__background.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  

}
.form__title ,.form__text{
  color: var(--color-white);
  width: 908px;
  text-align: center;
}
.form__text{
  font-weight: 500;
font-size: 16px;
line-height: 22px;
width: 906px;
}
.form-text__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
