<section class="our-team">
    <h2>Наша команда</h2>
    <div class="our-team__flex">
      <div>
        <img class="team__image" src="images/team1.png" alt="">
        <p class="team__name">Sheila Shelton</p>
        <p class="team__position">Должность  </p>
      </div>
      <div>
        <img class="team__image" src="images/team2.png" alt="">
        <p class="team__name">Heather Hoffman</p>
        <p class="team__position">Должность  </p>
      </div>
      <div>
        <img class="team__image" src="images/team3.png" alt="">
        <p class="team__name">Brittany Fuller</p>
        <p class="team__position">Должность  </p>
      </div>


    </div>
   </section>