 <section class="about-company">
      <div class="about-company__description" >

        <h2 class="about-comapny__title">О компании</h2>
        <p>
          Наша веб-студия создаёт сайты с высокой конверсией, которые легко
          вывести в ТОП поисковых систем. Наша команда полностью ведем Ваш проект
          от и до, а также помогаем сотрудникам на стороне клиента. Вы можете
          обратиться в веб-студию Дом сайтов для запуска своего онлайн бизнеса в
          Интернете. Если у вас уже есть сайт — мы его оптимизируем, превратим в
          полноценный и эффективный инструмент бизнеса.
        </p>
      </div>
      <img class="about-company__badges" src="images/about-company__badges.png" alt="">
    </section>