
      <div class="card--primary card__image1">
        <h3>СТАБИЛЬНАЯ ЛИДОГЕНЕРАЦИЯ В КРИЗИС</h3>
        <p>SEO-продвижение + Контекстная реклама</p>
        <div class="caption">
          Ищете сплит каналов для стабильного лидгена? Нет ничего надежнее
          классики!
        </div>
        <footer class="card--primary__footer">
          Специальная скидка до 40% на каждую услугу в пакете
        </footer>
        <button class="btn-accent btn">Приобрести пакет</button>
  
      </div>
      <div class="card--primary card__image2">
        <h3>СТАБИЛЬНАЯ ЛИДОГЕНЕРАЦИЯ В КРИЗИС</h3>
        <p>SEO-продвижение + Контекстная реклама</p>
        <div class="caption">
          Ищете сплит каналов для стабильного лидгена? Нет ничего надежнее
          классики!
        </div>
        <footer class="card--primary__footer">
          Специальная скидка до 40% на каждую услугу в пакете
        </footer>
        <button class="btn-accent btn">Приобрести пакет</button>
  
      </div>
      <div class="card--primary card__image3">
        <h3>СТАБИЛЬНАЯ ЛИДОГЕНЕРАЦИЯ В КРИЗИС</h3>
        <p>SEO-продвижение + Контекстная реклама</p>
        <div class="caption">
          Ищете сплит каналов для стабильного лидгена? Нет ничего надежнее
          классики!
        </div>
        <footer class="card--primary__footer">
          Специальная скидка до 40% на каждую услугу в пакете
        </footer>
        <button class="btn-accent btn">Приобрести пакет</button>
  
      </div>