 <section class="card-secondary__section container">
      <h2>Лучшие решения для увеличения продаж</h2>

      <div class=" grid grid--1x3 grid--1x2 grid--1x1">
        

          
        <div class="card--secondary">
      <header class="card--secondary__header">
        <img
          class="card--secondary__img"
          src="images/card__header-photo1.svg"
          alt="" />
        </header>
      <div class="card--secondary__body">
        <h3 class="card--secondary__title">
          Продвижение в Яндекс и Google (SEO)
        </h3>
        <div class="card--secondary__text">
          Увеличим Ваши продажи, количество звонков и заявок за счет оптимизации
          сайта. Поднимем в ТОП и увеличим трафик.
        </div>
        <div class="card__info">
          <img src="images/ryp.svg" alt="" class="info__icon" />
          <div class="caption">
            от <span class="info__price"> 23 360 руб.</span>
          </div>
        </div>
        <div class="seal">
          <img src="images/seal-icon.svg" alt="" />
          <div class="seal--price" >
            <span >58 750 руб.</span>
            Суперцена только в мае!
          </div>
        </div>
        <a href="#" class="link-arrow">
          Подробнее
        </a>
      </div>
      </div>


      
          
        <div class="card--secondary">
      <header class="card--secondary__header">
        <img
          class="card--secondary__img"
          src="images/card__header-photo1.svg"
          alt="" />
        </header>
      <div class="card--secondary__body">
        <h3 class="card--secondary__title">
          Продвижение в Яндекс и Google (SEO)
        </h3>
        <div class="card--secondary__text">
          Увеличим Ваши продажи, количество звонков и заявок за счет оптимизации
          сайта. Поднимем в ТОП и увеличим трафик.
        </div>
        <div class="card__info">
          <img src="images/ryp.svg" alt="" class="info__icon" />
          <div class="caption">
            от <span class="info__price"> 23 360 руб.</span>
          </div>
        </div>
        <div class="seal">
          <img src="images/seal-icon.svg" alt="" />
          <div class="seal--price" >
            <span >58 750 руб.</span>
            Суперцена только в мае!
          </div>
        </div>
        <a href="#" class="link-arrow">
          Подробнее
        </a>
      </div>
      </div>
        <div class="card--secondary">
      <header class="card--secondary__header">
        <img
          class="card--secondary__img"
          src="images/card__header-photo1.svg"
          alt="" />
        </header>
      <div class="card--secondary__body">
        <h3 class="card--secondary__title">
          Продвижение в Яндекс и Google (SEO)
        </h3>
        <div class="card--secondary__text">
          Увеличим Ваши продажи, количество звонков и заявок за счет оптимизации
          сайта. Поднимем в ТОП и увеличим трафик.
        </div>
        <div class="card__info">
          <img src="images/ryp.svg" alt="" class="info__icon" />
          <div class="caption">
            от <span class="info__price"> 23 360 руб.</span>
          </div>
        </div>
        <div class="seal">
          <img src="images/seal-icon.svg" alt="" />
          <div class="seal--price" >
            <span >58 750 руб.</span>
            Суперцена только в мае!
          </div>
        </div>
        <a href="#" class="link-arrow">
          Подробнее
        </a>
      </div>
      </div>
        <div class="card--secondary">
      <header class="card--secondary__header">
        <img
          class="card--secondary__img"
          src="images/card__header-photo1.svg"
          alt="" />
        </header>
      <div class="card--secondary__body">
        <h3 class="card--secondary__title">
          Продвижение в Яндекс и Google (SEO)
        </h3>
        <div class="card--secondary__text">
          Увеличим Ваши продажи, количество звонков и заявок за счет оптимизации
          сайта. Поднимем в ТОП и увеличим трафик.
        </div>
        <div class="card__info">
          <img src="images/ryp.svg" alt="" class="info__icon" />
          <div class="caption">
            от <span class="info__price"> 23 360 руб.</span>
          </div>
        </div>
        <div class="seal">
          <img src="images/seal-icon.svg" alt="" />
          <div class="seal--price" >
            <span >58 750 руб.</span>
            Суперцена только в мае!
          </div>
        </div>
        <a href="#" class="link-arrow">
          Подробнее
        </a>
      </div>
      </div>
        <div class="card--secondary">
      <header class="card--secondary__header">
        <img
          class="card--secondary__img"
          src="images/card__header-photo1.svg"
          alt="" />
        </header>
      <div class="card--secondary__body">
        <h3 class="card--secondary__title">
          Продвижение в Яндекс и Google (SEO)
        </h3>
        <div class="card--secondary__text">
          Увеличим Ваши продажи, количество звонков и заявок за счет оптимизации
          сайта. Поднимем в ТОП и увеличим трафик.
        </div>
        <div class="card__info">
          <img src="images/ryp.svg" alt="" class="info__icon" />
          <div class="caption">
            от <span class="info__price"> 23 360 руб.</span>
          </div>
        </div>
        <div class="seal">
          <img src="images/seal-icon.svg" alt="" />
          <div class="seal--price" >
            <span >58 750 руб.</span>
            Суперцена только в мае!
          </div>
        </div>
        <a href="#" class="link-arrow">
          Подробнее
        </a>
      </div>
      </div>



      <!-- todo           the second card -->
      
      <div class="card--secondary">
        <header class="card--secondary__header">
          <img
          class="card--secondary__img"
          src="images/card__header-photo2.svg"
          alt="" />
        </header>
        <div class="card--secondary__body">
          <h3 class="card--secondary__title">Контекстная реклама</h3>
          <div class="card--secondary__text">
            Повысим Ваши продажи, увеличим охват аудитории, количество звонков и
        
            заявок за счет привлечения только целевого трафика.
          </div>
          <div class="card__info">
            <img src="images/ryp.svg" alt="" class="info__icon" />
            <div class="caption">
              от <span class="info__price">30 000 руб.</span>
            </div>
          </div>
          <div class="seal">
            <img src="images/gift-icon.svg" alt="" />
            <div class="seal--price">
              Месяц CallTouch<strong >В ПОДАРОК</strong>
              при контекстной рекламе от 100 000 руб.
            </div>
          </div>
        <a href="#" class="link-arrow"> Подробнее </a>
      </div>
    </div>
  </div>
     </section>