  <section class="sales-departments">
        <img class="seles-separtments__img" src="images/sales-departments__photo.png" alt="">
        <div class="seals-dpartments__description">
          <h2>Вооружение отделов продаж</h2>
          <div class='sales-departments__text-container'>                   
          <p class="sales-departments__text-1"> 
              99 работающих инструментов, которые помогут увеличить продажи вашей
              компании. Четкие этапы, прозрачная навигация позволяют полностью
              удерживать ситуацию в своих руках.
            </p>
            <div>
              <p class="sales-departments__text-2">
                Если Вы закажете и оплатите продвижение своего сайта, то получите в
                подарок книгу с персональным АВТОГРАФОМ!
              </p>
              <button class="btn-primary btn ">Хочу получить подарок</button>

            </div>

          </div>
        </div>
      </section>