<section class="digital-cards container">
      <h2><span class="digital-cards-title__span">Антикризисные</span> DIGITAL-пакеты</h2>

      <div class="digital-cards__container">

     
      <div class="card card--primary card--primary__image1">
        <h3>СТАБИЛЬНАЯ ЛИДОГЕНЕРАЦИЯ В КРИЗИС</h3>
        <p>SEO-продвижение + Контекстная реклама</p>
        <div class="caption">
          Ищете сплит каналов для стабильного лидгена? Нет ничего надежнее
          классики!
        </div>
        <footer class="card--primary__footer">
          Специальная скидка до <stron>40%</stron> на каждую услугу в пакете
        </footer>
        <button class="btn-accent btn">Приобрести пакет</button>
  
      </div>
      <div class="card card--primary card--primary__image2">
        <h3>СТАБИЛЬНАЯ ЛИДОГЕНЕРАЦИЯ В КРИЗИС</h3>
        <p>SEO-продвижение + Контекстная реклама</p>
        <div class="caption">
          Ищете сплит каналов для стабильного лидгена? Нет ничего надежнее
          классики!
        </div>
        <footer class="card--primary__footer">
          Специальная скидка до 40% на каждую услугу в пакете
        </footer>
        <button class="btn-accent btn">Приобрести пакет</button>
  
      </div>
      <div class="card card--primary card--primary__image3">
        <h3>СТАБИЛЬНАЯ ЛИДОГЕНЕРАЦИЯ В КРИЗИС</h3>
        <p>SEO-продвижение + Контекстная реклама</p>
        <div class="caption">
          Ищете сплит каналов для стабильного лидгена? Нет ничего надежнее
          классики!
        </div>
        <footer class="card--primary__footer">
          Специальная скидка до 40% на каждую услугу в пакете
        </footer>
        <button class="btn-accent btn">Приобрести пакет</button>
  
      </div>
       </div>

    </section>
