<form class="main-form" action="# ">
      <input type="text" id="fname" name="firstname" placeholder="Имя" />
      <input type="text" id="fname" name="firstname" placeholder="E-mail" />
      <label class="checkbox">
        <input
          class="checkbox"
          type="checkbox"
          checked="checked"
          name="sameadr" />
        Я даю свое согласие на обработку персональных данных
              <button class="btn-primary btn ">Отправить заявку </button>

      </label>

    </form>