  <main class="main">
      <div class="main--container">
        <h1 >Комплексный <div class="internet-mark">интернет-маркетинг</div></h1>
        <p>Мы помогаем бизнесу находить клиентов быстрее, интегрируя маркетинговые, обучающие и
         технологические продукты</p>
         <div class='main-btn__container'>
           
           <button class="btn-primary btn">Заказать увеличение продаж </button>
           <button class="btn-secondary btn ">Заказать экспертный аудит</button>
         </div>

      </div>


    </main>
    