<nav class="nav collapsible">
      <img class="icon nav__toggler" src="images/bars-solid.svg" alt="" />
      <a href="/"><img src="images/лого.svg" alt="logo" /></a>
      <img class="icon" src="images/search.svg" alt="search icon" />

      <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">СОЗДАНИЕ САЙТОВ </a></li>
        <li class="nav__item"><a href="#">ПРОДВИЖЕНИЕ САЙТА</a></li>
        <li class="nav__item"><a href="#">ПОДДЕРЖКА </a></li>
        <li class="nav__item"><a href="#">БИТРИКС 24 </a></li>
        <li class="nav__item"><a href="#">ПОРТФОЛИО </a></li>
        <li class="nav__item"><a href="#">О КОМПАНИИ </a></li>
        <li class="nav__item"><a href="#">КОНТАКТЫ </a></li>
      </ul>
      <ul class="list nav__list-secondary collapsible__content">
        <li>Киевское ш. 22-й км МКАД, 6c1</li>
        <a href="tel:+74951182462" class="">+7 (495) 118-24-62 </a>
        <li>
          <a href="mailto:msk@domsaitov.ru" class="">msk@domsaitov.ru </a>
        </li>
      </ul>
    </nav>