 <div class="wrapper">
      <div class="tabs ">
        <ul class="tab-header tab-header__primary">
          <li  data-id="vision">Высокая эффективность работы</li>
          <li class="active" data-id="Reliability">Надежность</li>
          <li data-id="experience">Опыт и репутация</li>
          <li data-id="Complex">Комплексный подход</li>
          <li data-id="control">100% контроль</li>
          <li data-id="Benefit">Выгода</li>
        </ul>

        <div class="tab-content tap-content__primary">
          <div class="tab-inner " id="vision">
            <p>
              Vision ipsum dolor sit amet consectetur adipisicing elit. Ab eaque
              hic non quis quod repudiandae mollitia, cum nemo earum enim
              veritatis suscipit nesciunt deserunt labore rerum aspernatur
              consectetur excepturi fugiat!
            </p>
          </div>
          <div class="tab-inner active" id="Reliability">
            <p>
              Даём юридические финансовые гарантии выполнения своих
              обязательств. Более 60 высококвалифицированных специалистов в
              штате - мы обладаем ресурсами и технологиями для решения любой
              задачи точно в срок.
            </p>
          </div>
          <div class="tab-inner" id="experience">
            <p>
              experience ipsum dolor sit amet consectetur adipisicing elit. Ab
              eaque hic non quis quod repudiandae mollitia, cum nemo earum enim
              veritatis suscipit nesciunt deserunt labore rerum aspernatur
              consectetur excepturi fugiat!
            </p>
          </div>
          <div class="tab-inner" id="Complex">
            <p>
              Other ipsum dolor sit amet consectetur adipisicing elit. Ab eaque
              hic non quis quod repudiandae mollitia, cum nemo earum enim
              veritatis suscipit nesciunt deserunt labore rerum aspernatur
              consectetur excepturi fugiat!
            </p>
          </div>
          <div class="tab-inner" id="control">
            <p>
              Other ipsum dolor sit amet consectetur adipisicing elit. Ab eaque
              hic non quis quod repudiandae mollitia, cum nemo earum enim
              veritatis suscipit nesciunt deserunt labore rerum aspernatur
              consectetur excepturi fugiat!
            </p>
          </div>
          <div class="tab-inner" id="Benefit">
            <p>
              Other ipsum dolor sit amet consectetur adipisicing elit. Ab eaque
              hic non quis quod repudiandae mollitia, cum nemo earum enim
              veritatis suscipit nesciunt deserunt labore rerum aspernatur
              consectetur excepturi fugiat!
            </p>
          </div>
        </div>
      </div>
    </div>        
     