

<div class="wrapper ">
      <div class="tabs">
        <ul class="tab-header tab-header__secondary">
          <li data-id="a">Заявка</li>
          <li class="active" data-id="b">Коммерческое предложение</li>
          <li data-id="c">Начало работ</li>
          <li data-id="d">Контроль качества</li>
          <li data-id="e">Гарантированный результат</li>
        </ul>

        <div class="tab-content tab-content__secondary">
          <div class="tab-inner tab-inner_s" id="a">
            <div class="tab-inner-secondary__container grid grid--1x2">
              <div  >
                <p>
                  Если Вы точно знаете, какие услуги необходимы для Вашего
                  бизнеса, то:
                </p>

                <ul class="tab-inner__list">
                  <li>
                    Заполните форму заявки на Коммерческое предложение - это
                    займёт менее минуты;
                  </li>
                  <li>
                    Мы подберём для Вас выгодное предложение и обсудим детали
                    реализации;
                  </li>
                  <li>
                    Либо просто позвоните нашему специалисту: +7 (4872) 79-29-10
                  </li>
                  <li>
                    Мы предлогаем комплекстный подход и разрабатываем уникальные
                    стратегии для достижения целей Вашего бизнеса;
                  </li>
                  <li>
                    Используем все интструменты digital-маркетинга для того, что
                    добиться максимальных результатов;
                  </li>
                  <li>
                    Предложим только результативные каналы продвижения Вашего
                    бизнеса.
                  </li>
                </ul>
              </div>

              <img class="phone-image" src="images/nav-tabs__photo-1.png" alt="" />
            </div>
          </div>
          <div class="tab-inner tab-inner_s active" id="b">
           <div class="tab-inner-secondary__container">
              <div  >
                <p>
                  Если Вы точно знаете, какие услуги необходимы для Вашего
                  бизнеса, то:
                </p>

                <ul>
                  <li>
                    Заполните форму заявки на Коммерческое предложение - это
                    займёт менее минуты;
                  </li>
                  <li>
                    Мы подберём для Вас выгодное предложение и обсудим детали
                    реализации;
                  </li>
                  <li>
                    Либо просто позвоните нашему специалисту: +7 (4872) 79-29-10
                  </li>
                  <li>
                    Мы предлогаем комплекстный подход и разрабатываем уникальные
                    стратегии для достижения целей Вашего бизнеса;
                  </li>
                  <li>
                    Используем все интструменты digital-маркетинга для того, что
                    добиться максимальных результатов;
                  </li>
                  <li>
                    Предложим только результативные каналы продвижения Вашего
                    бизнеса.
                  </li>
                </ul>
              </div>

              <img class="nav-tabs__photo" src="images/nav-tabs__photo-2.png" alt="" />
            </div>
          </div>
          <div class="tab-inner tab-inner_s" id="c">
           <div class="tab-inner-secondary__container">
              <div  >
                <p>
                  Если Вы точно знаете, какие услуги необходимы для Вашего
                  бизнеса, то:
                </p>

                <ul>
                  <li>
                    Заполните форму заявки на Коммерческое предложение - это
                    займёт менее минуты;
                  </li>
                  <li>
                    Мы подберём для Вас выгодное предложение и обсудим детали
                    реализации;
                  </li>
                  <li>
                    Либо просто позвоните нашему специалисту: +7 (4872) 79-29-10
                  </li>
                  <li>
                    Мы предлогаем комплекстный подход и разрабатываем уникальные
                    стратегии для достижения целей Вашего бизнеса;
                  </li>
                  <li>
                    Используем все интструменты digital-маркетинга для того, что
                    добиться максимальных результатов;
                  </li>
                  <li>
                    Предложим только результативные каналы продвижения Вашего
                    бизнеса.
                  </li>
                </ul>
              </div>

              <img  src="images/nav-tabs__photo-3.png" alt="" />
            </div>
          </div>
          <div class="tab-inner tab-inner_s" id="d">
            <div class="tab-inner-secondary__container">
              <div  >
                <p>
                  Если Вы точно знаете, какие услуги необходимы для Вашего
                  бизнеса, то:
                </p>

                <ul>
                  <li>
                    Заполните форму заявки на Коммерческое предложение - это
                    займёт менее минуты;
                  </li>
                  <li>
                    Мы подберём для Вас выгодное предложение и обсудим детали
                    реализации;
                  </li>
                  <li>
                    Либо просто позвоните нашему специалисту: +7 (4872) 79-29-10
                  </li>
                  <li>
                    Мы предлогаем комплекстный подход и разрабатываем уникальные
                    стратегии для достижения целей Вашего бизнеса;
                  </li>
                  <li>
                    Используем все интструменты digital-маркетинга для того, что
                    добиться максимальных результатов;
                  </li>
                  <li>
                    Предложим только результативные каналы продвижения Вашего
                    бизнеса.
                  </li>
                </ul>
              </div>

              <img  src="images/nav-tabs__photo-4.png" alt="" />
            </div>
          </div>
          <div class="tab-inner tab-inner_s" id="e">
            <div class="tab-inner-secondary__container">
              <div  >
                <p>
                  Если Вы точно знаете, какие услуги необходимы для Вашего
                  бизнеса, то:
                </p>

                <ul>
                  <li>
                    Заполните форму заявки на Коммерческое предложение - это
                    займёт менее минуты;
                  </li>
                  <li>
                    Мы подберём для Вас выгодное предложение и обсудим детали
                    реализации;
                  </li>
                  <li>
                    Либо просто позвоните нашему специалисту: +7 (4872) 79-29-10
                  </li>
                  <li>
                    Мы предлогаем комплекстный подход и разрабатываем уникальные
                    стратегии для достижения целей Вашего бизнеса;
                  </li>
                  <li>
                    Используем все интструменты digital-маркетинга для того, что
                    добиться максимальных результатов;
                  </li>
                  <li>
                    Предложим только результативные каналы продвижения Вашего
                    бизнеса.
                  </li>
                </ul>
              </div>
                <img  src="images/nav-tabs__photo-5.png" alt="" />

             
            </div>
          </div>
          
        </div>
      </div>
    </div>
