<section class="ourclients__section">
      <h2>Наши клиенты</h2>
      <div class="our-clients__icons grid gird--2x4 grid--2x2">
        <img src="images/our-clients-1.svg" alt="">
        <img src="images/our-clients-2.svg" alt="">
        <img src="images/our-clients-3.svg" alt="">
        <img src="images/our-clients-4.svg" alt="">
        <img src="images/our-clients-5.svg" alt="">
        <img src="images/our-clients-6.svg" alt="">
        <img src="images/our-clients-7.svg" alt="">
        <img src="images/our-clients-8.svg" alt="">
      </div>
  </section>