<h2>Наши кейсы и портфолио</h2>
    <section class="our--portfolio">
      <div class="grid grid--1x2">
        <div>
          <h3>Результаты продвижения «Оценочной компании №1»</h3>
          <p>
            «Оценочная компания №1» – это оценочная компания, в спектр
            предоставляемых услуг которой входит полный набор услуг по оценке
            движимого и недвижимого имущества.
          </p>
        </div>
        <img
          class="our--portfolio__logo"
          src="images/our--portfolio-logo.svg"
          alt="" />
      </div>
      <div class="grid grid--1x2 gap">
        <div class="portfolio__objectives">
          <p class="our--portfolio__Objectives">Цели:</p>
          <p id="Objective__description">
            Увеличение количества обращений с помощью комплексных решений
            интернет-маркетинга. Для выполнения поставленных задач была выбрана
            стратегия продвижения сайта по позициям.
          </p>
          <ul>
            <li>Увеличение количества визитов из поисковых систем</li>
            <li>Улучшение видимости ресурса поисковыми системами</li>
            <li>Увеличение количества обращений через сайт</li>
          </ul>
        </div>
        <div>
          <p class="our--portfolio__Objectives">Результат:</p>
          <div class="result__flex">
            <span id="result__percent">85%</span>
            <p>
              запросов обширного семантического ядра выведено в ТОП-10 поисковой
              системы Яндекс
            </p>
          </div>
          <div class="result__flex">
            <p id="orang">в <span id="result__percent">12</span>
              раз</p>
              <p>увеличился трафик на сайт</p>
          </div>
        </div>
      </div>
    </section>