 <!-- work with us section -->
 <section>
   <h2 class="padge__header">Преимущества работы с нами</h2>
   <div class="grid grid--1x3 grid--1x2 container">
      <div class="work-with-us__padge">
        <img src="images/Group-1.svg" alt="">
        <p style="color:black">Увеличиваем продажи, звонки и заявки с Вашего сайта</p>
    </div>
      <div class="work-with-us__padge">
        <img src="images/Group-2.svg" alt="">
        <p style="color:black">Увеличиваем продажи, звонки и заявки с Вашего сайта</p>
    </div>
      <div class="work-with-us__padge">
        <img src="images/Group-3.svg" alt="">
        <p style="color:black">Увеличиваем продажи, звонки и заявки с Вашего сайта</p>
    </div>
      <div class="work-with-us__padge">
        <img src="images/Group-4.svg" alt="">
        <p style="color:black">Увеличиваем продажи, звонки и заявки с Вашего сайта</p>
    </div>
    <div class="work-with-us__padge">
      <img src="images/Group-5.svg" alt="">
      <p style="color:black">Увеличиваем продажи, звонки и заявки с Вашего сайта</p>
    </div>
      <div class="work-with-us__padge">
        <img src="images/Group-6.svg" alt="">
        <p style="color:black">Увеличиваем продажи, звонки и заявки с Вашего сайта</p>
      </div>
      
    </div>
  </section>